@font-face {
  font-family: "NouvelleGroteskSTD-Black";
  src: url("https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/assets/external/fonts/xpr/NNNouvelleGroteskSTD-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NouvelleGroteskSTD-Bold";
  src: url("https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/assets/external/fonts/xpr/NNNouvelleGroteskSTD-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NouvelleGroteskSTD-Normal";
  src: url("https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/assets/external/fonts/xpr/NNNouvelleGroteskSTD-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* line 23, ../sass/xpr-main.scss */
:root {
  --xpr-font: "NouvelleGrotesk-Normal", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --xpr-font-bold: "NouvelleGroteskSTD-Bold", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --xpr-font-black: "NouvelleGroteskSTD-Black", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --xpr-deep-space: #220021;
  --xpr-blue: #6923F4;
  --xpr-orange: #F44E27;
  --xpr-white: #FFF7F3;
  --xpr-pink: #FF8DF4;
  --xpr-green: #74FBD0;
}

/* line 35, ../sass/xpr-main.scss */
body.xpr-main {
  color: var(--xpr-deep-space);
  font-family: var(--xpr-font) !important;
  background-color: var(--xpr-white);
}
/* line 42, ../sass/xpr-main.scss */
body.xpr-main.pm-old.trans-container .cd-morph-dropdown {
  padding: 20px 0;
}
/* line 51, ../sass/xpr-main.scss */
body.xpr-main.xpr-error #home-section section#section-hero {
  background: var(--xpr-white);
  background: -moz-linear-gradient(160deg, var(--xpr-white) 0, var(--xpr-white) 31%, var(--xpr-white) 54%, var(--xpr-white) 100%);
  background: -webkit-linear-gradient(160deg, var(--xpr-white), var(--xpr-white) 31%, var(--xpr-white) 54%, var(--xpr-white));
  background: linear-gradient(160deg, var(--xpr-white), var(--xpr-white) 31%, var(--xpr-white) 54%, var(--xpr-white));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-white),endColorstr=var(--xpr-white),GradientType=1);
  color: var(--xpr-deep-space);
}
/* line 59, ../sass/xpr-main.scss */
body.xpr-main.xpr-error #home-section section#section-hero h1 {
  color: var(--xpr-deep-space);
}
/* line 63, ../sass/xpr-main.scss */
body.xpr-main.xpr-error #home-section section#section-hero #glb-bnr-strp-1 {
  display: none;
}
/* line 70, ../sass/xpr-main.scss */
body.xpr-main .region-switch {
  display: none !important;
}
/* line 73, ../sass/xpr-main.scss */
body.xpr-main .blue-horizon {
  background-color: var(--xpr-deep-space);
  background: var(--xpr-deep-space);
  background: -moz-linear-gradient(160deg, var(--xpr-deep-space) 0, var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space) 100%);
  background: -webkit-linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  background: linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-deep-space),endColorstr=var(--xpr-deep-space),GradientType=1);
}
/* line 84, ../sass/xpr-main.scss */
body.xpr-main .column-3-center.bg-light-grey dl i {
  color: var(--xpr-blue);
}
/* line 90, ../sass/xpr-main.scss */
body.xpr-main span, body.xpr-main p {
  font-family: var(--xpr-font) !important;
}
/* line 94, ../sass/xpr-main.scss */
body.xpr-main dd {
  color: var(--xpr-deep-space);
}
/* line 99, ../sass/xpr-main.scss */
body.xpr-main h1.case_study_h1 {
  font-size: 30px !important;
}
/* line 102, ../sass/xpr-main.scss */
body.xpr-main h1.case_study_h1 span.bold {
  font-size: 30px !important;
}
/* line 112, ../sass/xpr-main.scss */
body.xpr-main ul.xpr-social-media-links li {
  list-style: none;
}
/* line 117, ../sass/xpr-main.scss */
body.xpr-main ul.case_list_2 li {
  font-family: var(--xpr-font);
  letter-spacing: normal;
}
/* line 121, ../sass/xpr-main.scss */
body.xpr-main ul.case_list_2 li span:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: text-bottom;
}
/* line 133, ../sass/xpr-main.scss */
body.xpr-main ul.case_list_2 li i {
  display: none;
}
/* line 140, ../sass/xpr-main.scss */
body.xpr-main ul.feature-checklist li:before, body.xpr-main ul.case_list_2 li:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
}
/* line 154, ../sass/xpr-main.scss */
body.xpr-main a {
  color: var(--xpr-blue);
}
/* line 157, ../sass/xpr-main.scss */
body.xpr-main a:hover {
  color: var(--xpr-blue) !important;
}
/* line 162, ../sass/xpr-main.scss */
body.xpr-main a.btn.btn-pink {
  background-color: var(--xpr-pink);
  border-color: var(--xpr-pink);
  color: #FFF;
}
/* line 167, ../sass/xpr-main.scss */
body.xpr-main a.btn.btn-pink:hover {
  background-color: var(--xpr-pink);
  border-color: var(--xpr-pink);
  color: #FFF;
}
/* line 175, ../sass/xpr-main.scss */
body.xpr-main a.btn-primary-green, body.xpr-main a .btn-primary {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 181, ../sass/xpr-main.scss */
body.xpr-main a.link-move {
  color: var(--xpr-blue);
}
/* line 183, ../sass/xpr-main.scss */
body.xpr-main a.link-move:after {
  border-color: var(--xpr-blue);
}
/* line 186, ../sass/xpr-main.scss */
body.xpr-main a.link-move:hover {
  color: var(--xpr-blue);
}
/* line 192, ../sass/xpr-main.scss */
body.xpr-main a.cta_button.request-cta, body.xpr-main a#cta_button_484017_f1b05e8c-d6e3-437a-8acd-c2d21c0bac95.request-cta {
  background-color: var(--xpr-blue) !important;
  font-family: var(--xpr-font) !important;
  border-radius: 20px;
}
/* line 197, ../sass/xpr-main.scss */
body.xpr-main a.cta_button.request-cta:hover, body.xpr-main a#cta_button_484017_f1b05e8c-d6e3-437a-8acd-c2d21c0bac95.request-cta:hover {
  color: #FFF !important;
}
/* line 206, ../sass/xpr-main.scss */
body.xpr-main section#section-company-stats .col-md-4 > div {
  background-color: #FFF;
}
/* line 209, ../sass/xpr-main.scss */
body.xpr-main section#section-company-stats .col-md-4 > div h3 {
  color: var(--xpr-orange);
}
/* line 217, ../sass/xpr-main.scss */
body.xpr-main .description a:not(.btn) {
  color: var(--xpr-blue);
}
/* line 220, ../sass/xpr-main.scss */
body.xpr-main .description a:not(.btn):hover {
  color: var(--xpr-blue);
}
/* line 226, ../sass/xpr-main.scss */
body.xpr-main .contact-list a {
  color: #FFF !important;
}
/* line 229, ../sass/xpr-main.scss */
body.xpr-main .contact-list a:hover {
  color: #FFF !important;
}
/* line 234, ../sass/xpr-main.scss */
body.xpr-main .bg-light-grey {
  background-color: var(--xpr-white);
}
/* line 238, ../sass/xpr-main.scss */
body.xpr-main .link-move:after {
  border-color: var(--xpr-deep-space);
}
/* line 242, ../sass/xpr-main.scss */
body.xpr-main .btn-primary {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 250, ../sass/xpr-main.scss */
body.xpr-main .topic-container .col-md-4 > div {
  background-color: var(--xpr-white);
  overflow: auto;
}
/* line 253, ../sass/xpr-main.scss */
body.xpr-main .topic-container .col-md-4 > div .info-container {
  background-color: var(--xpr-white);
}
/* line 258, ../sass/xpr-main.scss */
body.xpr-main .topic-container h6 {
  color: var(--xpr-deep-space);
}
/* line 261, ../sass/xpr-main.scss */
body.xpr-main .topic-container a {
  color: var(--xpr-blue);
}
/* line 265, ../sass/xpr-main.scss */
body.xpr-main .topic-container .info-container a {
  color: var(--xpr-blue);
}
/* line 267, ../sass/xpr-main.scss */
body.xpr-main .topic-container .info-container a:after {
  border-color: var(--xpr-blue);
}
/* line 271, ../sass/xpr-main.scss */
body.xpr-main .topic-container .info-container a i {
  color: var(--xpr-blue);
}
/* line 279, ../sass/xpr-main.scss */
body.xpr-main .box-slider .img-container {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
/* line 283, ../sass/xpr-main.scss */
body.xpr-main .box-slider .info-container {
  border-radius: 0 0 5px 5px;
}
/* line 291, ../sass/xpr-main.scss */
body.xpr-main .slick-dots li.slick-active button:before {
  color: var(--xpr-deep-space);
}
/* line 297, ../sass/xpr-main.scss */
body.xpr-main .slick-dots li button:before {
  color: #000;
}
/* line 304, ../sass/xpr-main.scss */
body.xpr-main .section section {
  padding: 100px 0;
}
/* line 307, ../sass/xpr-main.scss */
body.xpr-main .section section h3 {
  color: var(--xpr-blue);
}
/* line 310, ../sass/xpr-main.scss */
body.xpr-main .section section .glb-bnr-strp {
  background-color: var(--xpr-deep-space);
}
/* line 314, ../sass/xpr-main.scss */
body.xpr-main .section section.bg-grey {
  background-color: var(--xpr-deep-space);
  color: #FFF;
  padding: 100px 0;
}
/* line 323, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey {
  background-color: var(--xpr-deep-space);
  color: #FFF;
  padding-top: 100px;
}
/* line 328, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey a {
  color: #FFF;
}
/* line 334, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey .hs-submit input.hs-button {
  background-color: var(--xpr-pink);
  border-color: var(--xpr-pink);
}
/* line 342, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey .form-container .footnote {
  color: #FFF;
}
/* line 351, ../sass/xpr-main.scss */
body.xpr-main #section-search section#section-hero, body.xpr-main #section-resources section#section-hero {
  height: 400px !important;
}
/* line 354, ../sass/xpr-main.scss */
body.xpr-main #section-search section#section-hero .search-container, body.xpr-main #section-resources section#section-hero .search-container {
  display: none;
}
/* line 364, ../sass/xpr-main.scss */
body.xpr-main #section-support section.contact-info-boxes .support-info .support-title {
  color: var(--xpr-deep-space);
}
/* line 367, ../sass/xpr-main.scss */
body.xpr-main #section-support section.contact-info-boxes .support-info .support-title a {
  color: var(--xpr-orange);
}
/* line 370, ../sass/xpr-main.scss */
body.xpr-main #section-support section.contact-info-boxes .support-info .support-title a:hover {
  color: var(--xpr-orange);
}
/* line 382, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe .no-list a {
  color: #FFF;
}
/* line 391, ../sass/xpr-main.scss */
body.xpr-main #home-demo.section-demo .no-list a {
  color: #FFF;
}
/* line 396, ../sass/xpr-main.scss */
body.xpr-main #home-demo.section-demo input[type=submit] {
  border-top: 1px solid var(--xpr-blue) !important;
  border-right: 1px solid var(--xpr-blue) !important;
  border-bottom: 1px solid var(--xpr-blue) !important;
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
}
/* line 403, ../sass/xpr-main.scss */
body.xpr-main #home-demo.section-demo input[type=submit]:hover {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
}
/* line 414, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-hero {
  background: var(--xpr-deep-space);
  background: -moz-linear-gradient(160deg, var(--xpr-deep-space) 0, var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space) 100%);
  background: -webkit-linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  background: linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-deep-space),endColorstr=var(--xpr-deep-space),GradientType=1);
}
/* line 421, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-hero .glb-bnr-strp-inr {
  background-color: var(--xpr-deep-space);
}
/* line 431, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-features-screenshot .nav a.nav-link.active i {
  color: var(--xpr-deep-space);
}
/* line 435, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-features-screenshot .nav a.nav-link.active span.title {
  color: var(--xpr-deep-space);
}
/* line 439, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-features-screenshot .nav a.nav-link.active span.description {
  color: var(--xpr-deep-space);
}
/* line 453, ../sass/xpr-main.scss */
body.xpr-main #section-features-testimonial .box-container .quote-container:before {
  content: '';
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/icon_xplor_quote.png);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: text-bottom;
}
/* line 470, ../sass/xpr-main.scss */
body.xpr-main .footer-container .section-demo input[type=email], body.xpr-main .footer-container .section-demo input[type=tel] {
  border-radius: 5px !important;
}
/* line 477, ../sass/xpr-main.scss */
body.xpr-main #footer-container {
  background-color: #FFF;
}
/* line 481, ../sass/xpr-main.scss */
body.xpr-main #footer-container .logo img {
  filter: none;
}
/* line 486, ../sass/xpr-main.scss */
body.xpr-main #footer-container h5, body.xpr-main #footer-container p.header {
  color: var(--xpr-deep-space);
  font-family: var(--xpr-font-bold);
}
/* line 492, ../sass/xpr-main.scss */
body.xpr-main #footer-container .region-switch .region-switch-subtitle {
  color: var(--xpr-font);
}
/* line 495, ../sass/xpr-main.scss */
body.xpr-main #footer-container .region-switch .btn-transparent {
  background-color: transparent !important;
  border-color: var(--xpr-deep-space) !important;
  color: var(--xpr-deep-space) !important;
}
/* line 503, ../sass/xpr-main.scss */
body.xpr-main #footer-container ul li a {
  color: var(--xpr-deep-space);
}
/* line 509, ../sass/xpr-main.scss */
body.xpr-main #section-social-group {
  background-color: #FFF;
}
/* line 512, ../sass/xpr-main.scss */
body.xpr-main #section-social-group .footnote {
  color: var(--xpr-blue);
}
/* line 517, ../sass/xpr-main.scss */
body.xpr-main #section-social-group ul li a {
  color: var(--xpr-blue);
}
/* line 525, ../sass/xpr-main.scss */
body.xpr-main.trans-container .cd-morph-dropdown {
  padding: 0;
}
/* line 528, ../sass/xpr-main.scss */
body.xpr-main.trans-container .cd-morph-dropdown .navbar-brand img {
  filter: none;
}
/* line 535, ../sass/xpr-main.scss */
body.xpr-main.trans-container section#section-hero.xplor-hero {
  padding: 150px 0 50px;
}
/* line 544, ../sass/xpr-main.scss */
body.xpr-main #top-nav-morph.shrink .cd-morph-dropdown {
  background-color: #FFF;
}
/* line 550, ../sass/xpr-main.scss */
body.xpr-main #top-nav-morph.shrink .cd-morph-dropdown .main-nav > ul > li a {
  color: var(--xpr-deep-space);
}
/* line 566, ../sass/xpr-main.scss */
body.xpr-main.xpr-transparent #top-nav-morph .cd-morph-dropdown .main-nav > ul > li a {
  color: var(--xpr-deep-space);
}
/* line 576, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown {
  background-color: transparent;
}
/* line 582, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .main-nav > ul > li a {
  color: #FFF;
}
/* line 591, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown nav .container:before, body.xpr-main .cd-morph-dropdown nav .container:after {
  content: initial;
}
@media only screen and (min-width: 1099px) {
  /* line 590, ../sass/xpr-main.scss */
  body.xpr-main .cd-morph-dropdown nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
@media only screen and (min-width: 1099px) {
  /* line 601, ../sass/xpr-main.scss */
  body.xpr-main .cd-morph-dropdown nav .container .dropdown .section-nav-title {
    margin-bottom: 0;
  }
}
/* line 612, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li {
  height: auto;
  margin-bottom: 0px;
  width: 90%;
}
/* line 617, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list {
  padding: 5px;
  width: 100%;
}
/* line 623, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list ul li:first-child {
  display: none;
}
/* line 626, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list ul li i {
  margin-left: 0;
  margin-right: 30px;
  width: 5px;
}
/* line 631, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list ul li i:not(.fa-angle-right) {
  display: none;
}
/* line 642, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:hover dt {
  background-color: #edebeb;
  border-radius: 5px;
}
/* line 646, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:hover dt a.dropdown-item {
  color: var(--xpr-blue);
}
/* line 658, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:active dt {
  background-color: var(--xpr-blue);
}
/* line 662, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:active dt a.dropdown-item {
  color: #FFF;
}
/* line 669, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dl {
  margin-bottom: 0;
}
/* line 672, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dd {
  padding: 0 0 0 5px;
}
/* line 675, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  width: 100%;
}
/* line 677, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dt a {
  color: var(--xpr-font);
}
@media only screen and (min-width: 1099px) {
  /* line 693, ../sass/xpr-main.scss */
  body.xpr-main .cd-morph-dropdown .main-nav > ul.cw-navbar-lft {
    float: none;
    margin-left: 0;
  }
}
/* line 703, ../sass/xpr-main.scss */
body.xpr-main .section-hero {
  background-size: cover !important;
}
/* line 709, ../sass/xpr-main.scss */
body.xpr-main #section-organize #multi-carousel dl {
  background-color: #FFF;
}
/* line 716, ../sass/xpr-main.scss */
body.xpr-main .carousel-control-next i, body.xpr-main .carousel-control-prev i {
  color: var(--xpr-blue);
}
/* line 725, ../sass/xpr-main.scss */
body.xpr-main #section-policies section.section-sticky-accordion h2 span {
  color: var(--xpr-deep-space) !important;
}
/* line 735, ../sass/xpr-main.scss */
body.xpr-main #section-product section#section-hero {
  background: var(--xpr-deep-space);
  padding: 150px 0 50px;
}
/* line 743, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact {
  background: var(--xpr-deep-space) !important;
}
/* line 750, ../sass/xpr-main.scss */
body.xpr-main #section-resources section#section-hero, body.xpr-main #section-hero section#section-hero {
  background: var(--xpr-deep-space) !important;
}
/* line 754, ../sass/xpr-main.scss */
body.xpr-main #section-resources section#section-hero .row.content-solo, body.xpr-main #section-hero section#section-hero .row.content-solo {
  padding-top: 50px;
}
/* line 761, ../sass/xpr-main.scss */
body.xpr-main #section-resources-nav {
  padding: 50px 0 10px;
}
/* line 766, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
}
/* line 774, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li {
  padding: 5px;
  width: auto;
  border: 1px solid var(--xpr-deep-space);
  background-color: var(--xpr-white);
  border-radius: 30px;
}
/* line 781, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li.active {
  background-color: #FFF;
  border: 1px solid var(--xpr-blue);
}
/* line 785, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li.active a {
  color: var(--xpr-blue) !important;
  font-weight: 700;
}
/* line 789, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li.active a:after {
  height: 0;
  margin: 0;
}
/* line 796, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li a i {
  display: none;
}
/* line 806, ../sass/xpr-main.scss */
body.xpr-main #topic-container .info-container a {
  color: var(--xpr-blue);
}
/* line 809, ../sass/xpr-main.scss */
body.xpr-main #topic-container .info-container a:after {
  border-color: var(--xpr-blue);
}
/* line 817, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-hero {
  padding: 150px 0 40px;
}
/* line 820, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-hero:before {
  background: linear-gradient(90deg, var(--xpr-deep-space) 45%, rgba(0, 53, 148, 0) 65%, rgba(0, 212, 255, 0) 0%);
}
@media screen and (min-width: 1950px) {
  /* line 825, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero:before {
    background: linear-gradient(90deg, var(--xpr-deep-space) 55%, rgba(0, 53, 148, 0) 70%, rgba(0, 212, 255, 0) 0%) !important;
  }
}
@media only screen and (max-width: 997px) {
  /* line 832, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero:before {
    background: var(--xpr-deep-space);
  }
  /* line 835, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero .description {
    text-align: center;
  }
  /* line 839, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero p.header {
    text-align: center;
  }
}
/* line 846, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features {
  padding: 0px 0px 50px;
}
/* line 849, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .nav-title {
  background-color: #FFF;
  padding: 20px 0;
}
/* line 853, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .navbar {
  background-color: #FFF !important;
}
/* line 856, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
/* line 863, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li {
  padding: 5px;
  width: auto;
}
/* line 866, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li.active {
  background-color: var(--xpr-white);
  border: 1px solid var(--xpr-deep-space);
  border-radius: 5px;
}
/* line 872, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li.active a:after {
  height: 0;
  margin: 0;
}
/* line 879, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li a i {
  display: none;
}
/* line 889, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section .btn-primary {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 894, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section .btn-primary:hover {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 902, ../sass/xpr-main.scss */
body.xpr-main .section-landing-demo {
  background-color: var(--xpr-orange);
}
/* line 905, ../sass/xpr-main.scss */
body.xpr-main .section-demo {
  background-color: var(--xpr-orange);
}
/* line 908, ../sass/xpr-main.scss */
body.xpr-main .section-demo.blue-gradient {
  background: url(https://www.perfectmind.com/hubfs/Xplor-bg-XR.png) no-repeat !important;
  background-size: cover !important;
  background-position: center;
  color: #FFF;
}
/* line 916, ../sass/xpr-main.scss */
body.xpr-main .section-demo .input:before {
  content: none !important;
}
/* line 920, ../sass/xpr-main.scss */
body.xpr-main .section-demo input {
  border-radius: 5px !important;
  width: 100% !important;
}
/* line 924, ../sass/xpr-main.scss */
body.xpr-main .section-demo input[type=submit] {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF;
  border-radius: 50px !important;
}
/* line 930, ../sass/xpr-main.scss */
body.xpr-main .section-demo input[type=submit]:hover {
  background-color: var(--xpr-blue) !important;
  border-color: var(--xpr-blue) !important;
  color: #FFF !important;
}
@media (max-width: 575.98px) {
  /* line 940, ../sass/xpr-main.scss */
  body.xpr-main #solutions-footer .section-demo {
    background: var(--xpr-deep-space) !important;
  }
}
/* line 949, ../sass/xpr-main.scss */
body.xpr-main #demo-footer-footnote a {
  color: var(--xpr-blue);
}
/* line 952, ../sass/xpr-main.scss */
body.xpr-main #demo-footer-footnote a:hover {
  color: var(--xpr-blue);
}
/* line 959, ../sass/xpr-main.scss */
body.xpr-main .nav-carousel .nav-title {
  background-color: var(--xpr-white);
}
/* line 962, ../sass/xpr-main.scss */
body.xpr-main .nav-carousel .navbar {
  background-color: var(--xpr-white) !important;
}
/* line 970, ../sass/xpr-main.scss */
body.xpr-main .section-sticky-accordion #integration-list .container .accordion .panel {
  background-color: var(--xpr-white);
}
/* line 980, ../sass/xpr-main.scss */
body.xpr-main .section-sticky-accordion #category-list.sidebar h3.sidebar-title {
  color: var(--xpr-deep-space);
}
/* line 988, ../sass/xpr-main.scss */
body.xpr-main .section-sticky-accordion #category-list.sidebar ul li a.link-rect:hover, body.xpr-main .section-sticky-accordion #category-list.sidebar ul li a.link-rect[data-state~=active] {
  color: #fff;
  background-color: var(--xpr-blue);
}
/* line 1000, ../sass/xpr-main.scss */
body.xpr-main .contact-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
/* line 1006, ../sass/xpr-main.scss */
body.xpr-main .contact-social-media a {
  font-size: 2rem;
  color: var(--xpr-deep-space);
}
/* line 1014, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page.tilicho-landing-page-v14 .hs_cos_wrapper_type_social_sharing {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 1018, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page.tilicho-landing-page-v14 .hs_cos_wrapper_type_social_sharing a {
  width: auto !important;
  padding: 10px;
  background-color: none !important;
  display: flex;
  align-items: center;
}
/* line 1027, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .form-outer-wrap {
  background: #FFF !important;
  border: 1px solid var(--xpr-deep-space);
}
/* line 1032, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .form-outer-wrap .form-header-wrap .hs_cos_wrapper_type_header h3 {
  color: var(--xpr-deep-space);
}
/* line 1039, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .legal-consent-container p {
  color: var(--xpr-deep-space);
}
/* line 1043, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page input, body.xpr-main.tilicho-landing-page #hs_cos_wrapper_module_146355153378931161 input[type="submit"] {
  border: 1px solid var(--xpr-deep-space);
  border-radius: 5px;
}
/* line 1046, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page input.hs-button, body.xpr-main.tilicho-landing-page #hs_cos_wrapper_module_146355153378931161 input[type="submit"].hs-button {
  background-color: var(--xpr-blue) !important;
  color: #FFF !important;
}
/* line 1051, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page label {
  color: var(--xpr-deep-space) !important;
}
/* line 1057, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .content-detail-wrap ul li:before, body.xpr-main.tilicho-landing-page .hero-area-list-wrap ul li:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
}
/* line 1073, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .user-quote-icon:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/icon_xplor_quote.png);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
/* line 1085, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .user-quote-icon i {
  display: none;
}
/* line 1090, ../sass/xpr-main.scss */
body.xpr-main .goal_quote, body.xpr-main .goal_quote_2 {
  background-color: #FFF;
}
/* line 1093, ../sass/xpr-main.scss */
body.xpr-main .bq3 {
  letter-spacing: normal;
  line-height: normal;
}
/* line 1097, ../sass/xpr-main.scss */
body.xpr-main .bq3:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/icon_xplor_quote.png);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 15px 0 0;
  float: left;
}
/* line 1111, ../sass/xpr-main.scss */
body.xpr-main .bq3 p {
  letter-spacing: normal;
  line-height: normal;
}
/* line 1117, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg {
  background-color: var(--xpr-deep-space);
}
/* line 1120, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg .section-cta {
  background-color: var(--xpr-deep-space) !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 1126, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg .section-cta .pm_container {
  max-width: none;
}
/* line 1131, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg .section-cta p.cta-p {
  color: #FFF;
}
/* line 1139, ../sass/xpr-main.scss */
body.xpr-main .case_list li {
  list-style: none !important;
  font-family: var(--xpr-font) !important;
}
/* line 1143, ../sass/xpr-main.scss */
body.xpr-main .case_list li span:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: text-bottom;
}
/* line 1160, ../sass/xpr-main.scss */
body.xpr-main .pm_case_container {
  padding-top: 100px;
}
/* line 1165, ../sass/xpr-main.scss */
body.xpr-main .feature-container dl dt {
  color: var(--xpr-deep-space);
}
/* line 1173, ../sass/xpr-main.scss */
body.xpr-main #section-company .contact-social-media a {
  color: var(--xpr-blue);
}
/* line 1185, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset input::placeholder, body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset select::placeholder, body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset textarea::placeholder {
  color: var(--xpr-deep-space) !important;
}
/* line 1189, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset select {
  color: var(--xpr-deep-space) !important;
}
/* line 1192, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset select option:disabled {
  color: var(--xpr-deep-space) !important;
}
/* line 1201, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form input[type=submit].hs-button {
  background-color: var(--xpr-blue);
}
/* line 1216, ../sass/xpr-main.scss */
body.xpr-main #section-story.section-hero {
  padding: 150px 0 100px;
}
/* line 1228, ../sass/xpr-main.scss */
body.xpr-blog.hs-blog-post .container-fluid .row-fluid .subscribe-section form input {
  padding-right: initial;
}
/* line 1232, ../sass/xpr-main.scss */
body.xpr-blog.hs-blog-post .container-fluid .row-fluid .subscribe-section form .hs-button.primary {
  background: var(--xpr-pink);
  color: var(--xpr-deep-space);
  position: relative;
  border-radius: 25px;
  width: 100%;
}
/* line 1246, ../sass/xpr-main.scss */
body.xpr-blog.hs-content-id-96858663013 .widget-type-social_sharing {
  display: none;
}
/* line 1250, ../sass/xpr-main.scss */
body.xpr-blog .post-listing {
  margin-top: 50px !important;
}
/* line 1253, ../sass/xpr-main.scss */
body.xpr-blog .post-listing-simple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 1260, ../sass/xpr-main.scss */
body.xpr-blog .container-fluid .row-fluid .post-item {
  display: inline-block;
  margin: 10px;
}
/* line 1267, ../sass/xpr-main.scss */
body.xpr-blog p a {
  color: var(--xpr-blue) !important;
}
/* line 1269, ../sass/xpr-main.scss */
body.xpr-blog p a:hover {
  color: var(--xpr-blue) !important;
}
/* line 1275, ../sass/xpr-main.scss */
body.xpr-blog a.cta_button, body.xpr-blog a#cta_button_484017_02e2b894-4199-4ca3-9e65-9d7649547052 {
  border-radius: 5px !important;
  background-color: var(--xpr-pink) !important;
  color: var(--xpr-deep-space) !important;
}
/* line 1279, ../sass/xpr-main.scss */
body.xpr-blog a.cta_button:hover, body.xpr-blog a#cta_button_484017_02e2b894-4199-4ca3-9e65-9d7649547052:hover {
  background-color: var(--xpr-pink) !important;
  color: var(--xpr-deep-space) !important;
}
/* line 1286, ../sass/xpr-main.scss */
body.xpr-blog .ias-trigger a {
  border-radius: 5px;
  border: 1px solid var(--xpr-blue);
  color: var(--xpr-blue);
}
/* line 1291, ../sass/xpr-main.scss */
body.xpr-blog .ias-trigger a:hover {
  background-color: var(--xpr-blue);
  color: #FFF;
}
/* line 1298, ../sass/xpr-main.scss */
body.xpr-blog .post-item h2, body.xpr-blog .post-item a {
  color: var(--xpr-deep-space);
}
/* line 1304, ../sass/xpr-main.scss */
body.xpr-blog .topic-list li a {
  background-color: var(--xpr-green);
  color: var(--xpr-deep-space);
}
/* line 1315, ../sass/xpr-main.scss */
body.xpr-blog.hs-blog-listing .container-fluid .row-fluid .subscribe-section .hs-button.primary {
  background-color: var(--xpr-pink);
  color: var(--xpr-deep-space);
}
/* line 1326, ../sass/xpr-main.scss */
body.xpr-blog .container-fluid .row-fluid .subscribe-section {
  background: var(--xpr-deep-space);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-deep-space),endColorstr=var(--xpr-deep-space),GradientType=1);
  padding-top: 50px;
}
/* line 1334, ../sass/xpr-main.scss */
body.xpr-blog .body-container-wrapper {
  background-color: var(--xpr-white);
}
/* line 1340, ../sass/xpr-main.scss */
body.xpr-blog .blog-listing-hero-section ul.topic-list a {
  color: var(--xpr-deep-space);
  background-color: var(--xpr-green);
  border-radius: 5px;
  padding: 10px;
}
/* line 1352, ../sass/xpr-main.scss */
body.xpr-blog .blog-listing-hero-section span.blog-listing-item-container h1.blog-post-title a {
  color: #FFF !important;
}
/* line 1360, ../sass/xpr-main.scss */
body.xpr-blog .blog-listing-hero-section span.blog-listing-item-container h4 a {
  background-color: var(--xpr-pink);
  color: var(--xpr-deep-space);
}
/* line 1370, ../sass/xpr-main.scss */
body.xpr-blog .topic-section .widget-module ul {
  margin: 10px auto 0;
  position: absolute;
  left: 50%;
  top: 150px;
  width: 300px;
  transform: translate(-50%, -50%);
  right: auto;
  text-align: center;
}
/* line 1381, ../sass/xpr-main.scss */
body.xpr-blog .topic-section .widget-module ul li a {
  font-size: 24px;
}
/* line 1388, ../sass/xpr-main.scss */
body.xpr-blog .footer-container-wrapper {
  background-color: #FFF;
}
/* line 1392, ../sass/xpr-main.scss */
body.xpr-blog .cta-trigger h3 {
  font-size: 24px;
  font-weight: 100;
  color: var(--xpr-deep-space);
  margin: 0;
  cursor: pointer;
  display: inline-block;
  padding: 20px 25px 30px;
  max-width: 300px;
  border-radius: 0px;
  width: 100%;
  position: relative;
  background: var(--xpr-white);
  text-align: center;
  margin: 0 auto;
  display: flex;
  border: 0;
}
/* line 1410, ../sass/xpr-main.scss */
body.xpr-blog .cta-trigger h3:before {
  content: "";
  border: 1px solid var(--xpr-deep-space);
  width: 260px;
  position: absolute;
  bottom: 20px;
}
/* line 1418, ../sass/xpr-main.scss */
body.xpr-blog .cta-trigger h3:after {
  font-size: 18px;
}
