@font-face {
  font-family: "NouvelleGroteskSTD-Black";
  src: url("https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/assets/external/fonts/xpr/NNNouvelleGroteskSTD-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "NouvelleGroteskSTD-Bold";
  src: url("https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/assets/external/fonts/xpr/NNNouvelleGroteskSTD-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NouvelleGroteskSTD-Normal";
  src: url("https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/assets/external/fonts/xpr/NNNouvelleGroteskSTD-Normal.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
/* line 23, ../sass/xpr-main.scss */
:root {
  --xpr-font: "NouvelleGrotesk-Normal", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --xpr-font-bold: "NouvelleGroteskSTD-Bold", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --xpr-font-black: "NouvelleGroteskSTD-Black", "Mier B", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --xpr-deep-space: #220021;
  --xpr-blue: #6923F4;
  --xpr-orange: #F44E27;
  --xpr-white: #FFF7F3;
  --xpr-pink: #FF8DF4;
  --xpr-green: #74FBD0;
}

/* line 37, ../sass/xpr-main.scss */
html[lang="en"] .region-switch {
  display: none !important;
}

/* line 44, ../sass/xpr-main.scss */
body.xpr-main {
  color: var(--xpr-deep-space);
  font-family: var(--xpr-font) !important;
  background-color: var(--xpr-white);
}
/* line 51, ../sass/xpr-main.scss */
body.xpr-main.pm-old.trans-container .cd-morph-dropdown {
  padding: 20px 0;
}
/* line 58, ../sass/xpr-main.scss */
body.xpr-main.subscription-template .main-content {
  height: 500px;
  padding-top: 100px;
}
/* line 63, ../sass/xpr-main.scss */
body.xpr-main.subscription-template .content-container {
  margin: 0 auto;
  float: none;
}
/* line 74, ../sass/xpr-main.scss */
body.xpr-main.xpr-error .cd-morph-dropdown .main-nav > ul > li a, body.xpr-main.subscription-template .cd-morph-dropdown .main-nav > ul > li a {
  color: var(--xpr-deep-space);
}
/* line 83, ../sass/xpr-main.scss */
body.xpr-main.xpr-error #home-section section#section-hero, body.xpr-main.subscription-template #home-section section#section-hero {
  background: var(--xpr-white);
  background: -moz-linear-gradient(160deg, var(--xpr-white) 0, var(--xpr-white) 31%, var(--xpr-white) 54%, var(--xpr-white) 100%);
  background: -webkit-linear-gradient(160deg, var(--xpr-white), var(--xpr-white) 31%, var(--xpr-white) 54%, var(--xpr-white));
  background: linear-gradient(160deg, var(--xpr-white), var(--xpr-white) 31%, var(--xpr-white) 54%, var(--xpr-white));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-white),endColorstr=var(--xpr-white),GradientType=1);
  color: var(--xpr-deep-space);
}
/* line 91, ../sass/xpr-main.scss */
body.xpr-main.xpr-error #home-section section#section-hero h1, body.xpr-main.subscription-template #home-section section#section-hero h1 {
  color: var(--xpr-deep-space);
}
/* line 95, ../sass/xpr-main.scss */
body.xpr-main.xpr-error #home-section section#section-hero #glb-bnr-strp-1, body.xpr-main.subscription-template #home-section section#section-hero #glb-bnr-strp-1 {
  display: none;
}
/* line 102, ../sass/xpr-main.scss */
body.xpr-main .blue-horizon {
  background-color: var(--xpr-deep-space);
  background: var(--xpr-deep-space);
  background: -moz-linear-gradient(160deg, var(--xpr-deep-space) 0, var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space) 100%);
  background: -webkit-linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  background: linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-deep-space),endColorstr=var(--xpr-deep-space),GradientType=1);
}
/* line 113, ../sass/xpr-main.scss */
body.xpr-main .column-3-center.bg-light-grey dl i {
  color: var(--xpr-blue);
}
/* line 119, ../sass/xpr-main.scss */
body.xpr-main span, body.xpr-main p {
  font-family: var(--xpr-font) !important;
}
/* line 123, ../sass/xpr-main.scss */
body.xpr-main dd {
  color: var(--xpr-deep-space);
}
/* line 128, ../sass/xpr-main.scss */
body.xpr-main h1.case_study_h1 {
  font-size: 30px !important;
}
/* line 131, ../sass/xpr-main.scss */
body.xpr-main h1.case_study_h1 span.bold {
  font-size: 30px !important;
}
/* line 141, ../sass/xpr-main.scss */
body.xpr-main ul.xpr-social-media-links li {
  list-style: none;
}
/* line 146, ../sass/xpr-main.scss */
body.xpr-main ul.case_list_2 li {
  font-family: var(--xpr-font);
  letter-spacing: normal;
}
/* line 150, ../sass/xpr-main.scss */
body.xpr-main ul.case_list_2 li span:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: text-bottom;
}
/* line 162, ../sass/xpr-main.scss */
body.xpr-main ul.case_list_2 li i {
  display: none;
}
/* line 169, ../sass/xpr-main.scss */
body.xpr-main ul.feature-checklist li:before, body.xpr-main ul.case_list_2 li:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
}
/* line 183, ../sass/xpr-main.scss */
body.xpr-main a {
  color: var(--xpr-blue);
}
/* line 186, ../sass/xpr-main.scss */
body.xpr-main a:hover {
  color: var(--xpr-blue) !important;
}
/* line 191, ../sass/xpr-main.scss */
body.xpr-main a.btn.btn-pink {
  background-color: var(--xpr-pink);
  border-color: var(--xpr-pink);
  color: #FFF;
}
/* line 196, ../sass/xpr-main.scss */
body.xpr-main a.btn.btn-pink:hover {
  background-color: var(--xpr-pink);
  border-color: var(--xpr-pink);
  color: #FFF;
}
/* line 204, ../sass/xpr-main.scss */
body.xpr-main a.btn-primary-green, body.xpr-main a .btn-primary {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 210, ../sass/xpr-main.scss */
body.xpr-main a.link-move {
  color: var(--xpr-blue);
}
/* line 212, ../sass/xpr-main.scss */
body.xpr-main a.link-move:after {
  border-color: var(--xpr-blue);
}
/* line 215, ../sass/xpr-main.scss */
body.xpr-main a.link-move:hover {
  color: var(--xpr-blue);
}
/* line 221, ../sass/xpr-main.scss */
body.xpr-main a.cta_button.request-cta, body.xpr-main a#cta_button_484017_f1b05e8c-d6e3-437a-8acd-c2d21c0bac95.request-cta {
  background-color: var(--xpr-blue) !important;
  font-family: var(--xpr-font) !important;
  border-radius: 20px;
}
/* line 226, ../sass/xpr-main.scss */
body.xpr-main a.cta_button.request-cta:hover, body.xpr-main a#cta_button_484017_f1b05e8c-d6e3-437a-8acd-c2d21c0bac95.request-cta:hover {
  color: #FFF !important;
}
/* line 235, ../sass/xpr-main.scss */
body.xpr-main section#section-company-stats .col-md-4 > div {
  background-color: #FFF;
}
/* line 238, ../sass/xpr-main.scss */
body.xpr-main section#section-company-stats .col-md-4 > div h3 {
  color: var(--xpr-orange);
}
/* line 246, ../sass/xpr-main.scss */
body.xpr-main .description a:not(.btn) {
  color: var(--xpr-blue);
}
/* line 249, ../sass/xpr-main.scss */
body.xpr-main .description a:not(.btn):hover {
  color: var(--xpr-blue);
}
/* line 255, ../sass/xpr-main.scss */
body.xpr-main .contact-list a {
  color: #FFF !important;
}
/* line 258, ../sass/xpr-main.scss */
body.xpr-main .contact-list a:hover {
  color: #FFF !important;
}
/* line 263, ../sass/xpr-main.scss */
body.xpr-main .bg-light-grey {
  background-color: var(--xpr-white);
}
/* line 267, ../sass/xpr-main.scss */
body.xpr-main .link-move:after {
  border-color: var(--xpr-deep-space);
}
/* line 271, ../sass/xpr-main.scss */
body.xpr-main .btn-primary {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 276, ../sass/xpr-main.scss */
body.xpr-main .btn-primary:hover {
  color: #FFF !important;
}
/* line 283, ../sass/xpr-main.scss */
body.xpr-main .topic-container .col-md-4 > div {
  background-color: var(--xpr-white);
  overflow: auto;
}
/* line 286, ../sass/xpr-main.scss */
body.xpr-main .topic-container .col-md-4 > div .info-container {
  background-color: var(--xpr-white);
}
/* line 291, ../sass/xpr-main.scss */
body.xpr-main .topic-container h6 {
  color: var(--xpr-deep-space);
}
/* line 294, ../sass/xpr-main.scss */
body.xpr-main .topic-container a {
  color: var(--xpr-blue);
}
/* line 298, ../sass/xpr-main.scss */
body.xpr-main .topic-container .info-container a {
  color: var(--xpr-blue);
}
/* line 300, ../sass/xpr-main.scss */
body.xpr-main .topic-container .info-container a:after {
  border-color: var(--xpr-blue);
}
/* line 304, ../sass/xpr-main.scss */
body.xpr-main .topic-container .info-container a i {
  color: var(--xpr-blue);
}
/* line 312, ../sass/xpr-main.scss */
body.xpr-main .box-slider .img-container {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}
/* line 316, ../sass/xpr-main.scss */
body.xpr-main .box-slider .info-container {
  border-radius: 0 0 5px 5px;
}
/* line 324, ../sass/xpr-main.scss */
body.xpr-main .slick-dots li.slick-active button:before {
  color: var(--xpr-deep-space);
}
/* line 330, ../sass/xpr-main.scss */
body.xpr-main .slick-dots li button:before {
  color: #000;
}
/* line 337, ../sass/xpr-main.scss */
body.xpr-main .section section {
  padding: 100px 0;
}
/* line 340, ../sass/xpr-main.scss */
body.xpr-main .section section h3 {
  color: var(--xpr-blue);
}
/* line 343, ../sass/xpr-main.scss */
body.xpr-main .section section .glb-bnr-strp {
  background-color: var(--xpr-deep-space);
}
/* line 347, ../sass/xpr-main.scss */
body.xpr-main .section section.bg-grey {
  background-color: var(--xpr-deep-space);
  color: #FFF;
  padding: 100px 0;
}
/* line 356, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey {
  background-color: var(--xpr-deep-space);
  color: #FFF;
  padding-top: 100px;
}
/* line 361, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey a {
  color: #FFF;
}
/* line 367, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey .hs-submit input.hs-button {
  background-color: var(--xpr-pink);
  border-color: var(--xpr-pink);
}
/* line 375, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe.bg-light-grey .form-container .footnote {
  color: #FFF;
}
/* line 384, ../sass/xpr-main.scss */
body.xpr-main #section-search section#section-hero, body.xpr-main #section-resources section#section-hero {
  height: 400px !important;
}
/* line 387, ../sass/xpr-main.scss */
body.xpr-main #section-search section#section-hero .search-container, body.xpr-main #section-resources section#section-hero .search-container {
  display: none;
}
/* line 397, ../sass/xpr-main.scss */
body.xpr-main #section-support section.contact-info-boxes .support-info .support-title {
  color: var(--xpr-deep-space);
}
/* line 400, ../sass/xpr-main.scss */
body.xpr-main #section-support section.contact-info-boxes .support-info .support-title a {
  color: var(--xpr-orange);
}
/* line 403, ../sass/xpr-main.scss */
body.xpr-main #section-support section.contact-info-boxes .support-info .support-title a:hover {
  color: var(--xpr-orange);
}
/* line 415, ../sass/xpr-main.scss */
body.xpr-main #section-email-subscribe .no-list a {
  color: #FFF;
}
/* line 424, ../sass/xpr-main.scss */
body.xpr-main #home-demo.section-demo .no-list a {
  color: #FFF;
}
/* line 429, ../sass/xpr-main.scss */
body.xpr-main #home-demo.section-demo input[type=submit] {
  border-top: 1px solid var(--xpr-blue) !important;
  border-right: 1px solid var(--xpr-blue) !important;
  border-bottom: 1px solid var(--xpr-blue) !important;
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
}
/* line 436, ../sass/xpr-main.scss */
body.xpr-main #home-demo.section-demo input[type=submit]:hover {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
}
/* line 447, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-hero {
  background: var(--xpr-deep-space);
  background: -moz-linear-gradient(160deg, var(--xpr-deep-space) 0, var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space) 100%);
  background: -webkit-linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  background: linear-gradient(160deg, var(--xpr-deep-space), var(--xpr-deep-space) 31%, var(--xpr-deep-space) 54%, var(--xpr-deep-space));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-deep-space),endColorstr=var(--xpr-deep-space),GradientType=1);
}
/* line 454, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-hero .glb-bnr-strp-inr {
  background-color: var(--xpr-deep-space);
}
/* line 460, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-hero a.cta_button.btn-demo {
  max-width: 220px;
}
/* line 472, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-features-screenshot .nav a.nav-link.active i {
  color: var(--xpr-deep-space);
}
/* line 476, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-features-screenshot .nav a.nav-link.active span.title {
  color: var(--xpr-deep-space);
}
/* line 480, ../sass/xpr-main.scss */
body.xpr-main #home-section section#section-features-screenshot .nav a.nav-link.active span.description {
  color: var(--xpr-deep-space);
}
/* line 494, ../sass/xpr-main.scss */
body.xpr-main #section-features-testimonial .box-container .quote-container:before {
  content: '';
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/icon_xplor_quote.png);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: text-bottom;
}
/* line 511, ../sass/xpr-main.scss */
body.xpr-main .footer-container .section-demo input[type=email], body.xpr-main .footer-container .section-demo input[type=tel] {
  border-radius: 5px !important;
}
/* line 518, ../sass/xpr-main.scss */
body.xpr-main #footer-container {
  background-color: #FFF;
}
/* line 522, ../sass/xpr-main.scss */
body.xpr-main #footer-container .logo img {
  filter: none;
}
/* line 527, ../sass/xpr-main.scss */
body.xpr-main #footer-container h5, body.xpr-main #footer-container p.header {
  color: var(--xpr-deep-space);
  font-family: var(--xpr-font-bold);
}
/* line 534, ../sass/xpr-main.scss */
body.xpr-main #footer-container .region-switch .region-switch-subtitle {
  color: var(--xpr-font);
}
/* line 537, ../sass/xpr-main.scss */
body.xpr-main #footer-container .region-switch .btn-transparent {
  background-color: transparent !important;
  border-color: var(--xpr-deep-space) !important;
  color: var(--xpr-deep-space) !important;
}
/* line 545, ../sass/xpr-main.scss */
body.xpr-main #footer-container ul li a {
  color: var(--xpr-deep-space);
}
/* line 551, ../sass/xpr-main.scss */
body.xpr-main #section-social-group {
  background-color: #FFF;
}
/* line 554, ../sass/xpr-main.scss */
body.xpr-main #section-social-group .footnote {
  color: var(--xpr-blue);
}
/* line 559, ../sass/xpr-main.scss */
body.xpr-main #section-social-group ul li a {
  color: var(--xpr-blue);
}
/* line 567, ../sass/xpr-main.scss */
body.xpr-main.trans-container .cd-morph-dropdown {
  padding: 0;
}
/* line 570, ../sass/xpr-main.scss */
body.xpr-main.trans-container .cd-morph-dropdown .navbar-brand img {
  filter: none;
}
@media only screen and (max-width: 1099px) {
  /* line 575, ../sass/xpr-main.scss */
  body.xpr-main.trans-container .cd-morph-dropdown .container {
    background: var(--xpr-deep-space);
  }
}
/* line 583, ../sass/xpr-main.scss */
body.xpr-main.trans-container section#section-hero.xplor-hero {
  padding: 150px 0 50px;
}
/* line 592, ../sass/xpr-main.scss */
body.xpr-main #top-nav-morph.shrink .cd-morph-dropdown {
  background-color: #FFF;
}
/* line 598, ../sass/xpr-main.scss */
body.xpr-main #top-nav-morph.shrink .cd-morph-dropdown .main-nav > ul > li a {
  color: var(--xpr-deep-space);
}
/* line 614, ../sass/xpr-main.scss */
body.xpr-main.xpr-transparent #top-nav-morph .cd-morph-dropdown .main-nav > ul > li a {
  color: var(--xpr-deep-space);
}
/* line 624, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown {
  background-color: transparent;
}
/* line 630, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .main-nav > ul > li a {
  color: #FFF;
}
/* line 639, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown nav .container:before, body.xpr-main .cd-morph-dropdown nav .container:after {
  content: initial;
}
@media only screen and (min-width: 1099px) {
  /* line 638, ../sass/xpr-main.scss */
  body.xpr-main .cd-morph-dropdown nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}
@media only screen and (min-width: 1099px) {
  /* line 649, ../sass/xpr-main.scss */
  body.xpr-main .cd-morph-dropdown nav .container .dropdown .section-nav-title {
    margin-bottom: 0;
  }
}
/* line 660, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li {
  height: auto;
  margin-bottom: 0px;
  width: 90%;
}
/* line 665, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list {
  padding: 5px;
  width: 100%;
}
/* line 671, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list ul li:first-child {
  display: none;
}
/* line 674, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list ul li i {
  margin-left: 0;
  margin-right: 30px;
  width: 5px;
}
/* line 679, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list ul li i:not(.fa-angle-right) {
  display: none;
}
/* line 690, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:hover dt {
  background-color: #edebeb;
  border-radius: 5px;
}
/* line 694, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:hover dt a.dropdown-item {
  color: var(--xpr-blue);
}
/* line 706, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:active dt {
  background-color: var(--xpr-blue);
}
/* line 710, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li.item-list:active dt a.dropdown-item {
  color: #FFF;
}
/* line 717, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dl {
  margin-bottom: 0;
}
/* line 720, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dd {
  padding: 0 0 0 5px;
}
/* line 723, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  width: 100%;
}
/* line 725, ../sass/xpr-main.scss */
body.xpr-main .cd-morph-dropdown .gallery .content ul li dt a {
  color: var(--xpr-font);
}
@media only screen and (min-width: 1099px) {
  /* line 741, ../sass/xpr-main.scss */
  body.xpr-main .cd-morph-dropdown .main-nav > ul.cw-navbar-lft {
    float: none;
    margin-left: 0;
  }
}
/* line 751, ../sass/xpr-main.scss */
body.xpr-main .section-hero {
  background-size: cover !important;
}
/* line 757, ../sass/xpr-main.scss */
body.xpr-main #section-organize #multi-carousel dl {
  background-color: #FFF;
}
/* line 764, ../sass/xpr-main.scss */
body.xpr-main .carousel-control-next i, body.xpr-main .carousel-control-prev i {
  color: var(--xpr-blue);
}
/* line 773, ../sass/xpr-main.scss */
body.xpr-main #section-policies section.section-sticky-accordion h2 span {
  color: var(--xpr-deep-space) !important;
}
/* line 783, ../sass/xpr-main.scss */
body.xpr-main #section-product section#section-hero {
  background: var(--xpr-deep-space);
  padding: 150px 0 50px;
}
/* line 792, ../sass/xpr-main.scss */
body.xpr-main #section-hero section#section-hero {
  background: var(--xpr-deep-space) !important;
}
/* line 796, ../sass/xpr-main.scss */
body.xpr-main #section-hero section#section-hero .row.content-solo {
  padding-top: 50px;
}
/* line 803, ../sass/xpr-main.scss */
body.xpr-main #section-resources-nav {
  padding: 50px 0 10px;
}
/* line 808, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  margin: 0 auto;
}
/* line 816, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li {
  padding: 5px;
  width: auto;
  border: 1px solid var(--xpr-deep-space);
  background-color: var(--xpr-white);
  border-radius: 30px;
}
/* line 823, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li.active {
  background-color: #FFF;
  border: 1px solid var(--xpr-blue);
}
/* line 827, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li.active a {
  color: var(--xpr-blue) !important;
  font-weight: 700;
}
/* line 831, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li.active a:after {
  height: 0;
  margin: 0;
}
/* line 838, ../sass/xpr-main.scss */
body.xpr-main #resources-nav .navbar-collapse .navbar-nav li a i {
  display: none;
}
/* line 848, ../sass/xpr-main.scss */
body.xpr-main #topic-container .info-container a {
  color: var(--xpr-blue);
}
/* line 851, ../sass/xpr-main.scss */
body.xpr-main #topic-container .info-container a:after {
  border-color: var(--xpr-blue);
}
/* line 859, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-hero {
  padding: 150px 0 40px;
}
/* line 862, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-hero:before {
  background: linear-gradient(90deg, var(--xpr-deep-space) 45%, rgba(0, 53, 148, 0) 65%, rgba(0, 212, 255, 0) 0%);
}
@media screen and (min-width: 1950px) {
  /* line 867, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero:before {
    background: linear-gradient(90deg, var(--xpr-deep-space) 55%, rgba(0, 53, 148, 0) 70%, rgba(0, 212, 255, 0) 0%) !important;
  }
}
@media only screen and (max-width: 997px) {
  /* line 874, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero:before {
    background: var(--xpr-deep-space);
  }
  /* line 877, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero .description {
    text-align: center;
  }
  /* line 881, ../sass/xpr-main.scss */
  body.xpr-main #section-solutions section#section-hero p.header {
    text-align: center;
  }
}
/* line 888, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features {
  padding: 0px 0px 50px;
}
/* line 891, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .nav-title {
  background-color: #FFF;
  padding: 20px 0;
}
/* line 895, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .navbar {
  background-color: #FFF !important;
}
/* line 898, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
/* line 905, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li {
  padding: 5px;
  width: auto;
}
/* line 908, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li.active {
  background-color: var(--xpr-white);
  border: 1px solid var(--xpr-deep-space);
  border-radius: 5px;
}
/* line 914, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li.active a:after {
  height: 0;
  margin: 0;
}
/* line 921, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section#section-features .nav-carousel .carousel-indicators li a i {
  display: none;
}
/* line 931, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section .btn-primary {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 936, ../sass/xpr-main.scss */
body.xpr-main #section-solutions section .btn-primary:hover {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 944, ../sass/xpr-main.scss */
body.xpr-main .section-landing-demo {
  background-color: var(--xpr-orange);
}
/* line 947, ../sass/xpr-main.scss */
body.xpr-main .section-demo {
  background-color: var(--xpr-orange);
}
/* line 952, ../sass/xpr-main.scss */
body.xpr-main .section-demo.blue-gradient {
  background: url(https://www.perfectmind.com/hubfs/Xplor-bg-XR.png) no-repeat !important;
  background-size: cover !important;
  background-position: center;
  color: #FFF;
}
/* line 959, ../sass/xpr-main.scss */
body.xpr-main .section-demo .hs-submit {
  margin-top: 20px;
}
/* line 964, ../sass/xpr-main.scss */
body.xpr-main .section-demo .input:before {
  content: none !important;
}
/* line 968, ../sass/xpr-main.scss */
body.xpr-main .section-demo input {
  border-radius: 5px !important;
  width: 100% !important;
}
/* line 972, ../sass/xpr-main.scss */
body.xpr-main .section-demo input[type=submit] {
  background-color: var(--xpr-blue);
  border-color: var(--xpr-blue);
  color: #FFF;
  border-radius: 50px !important;
}
/* line 978, ../sass/xpr-main.scss */
body.xpr-main .section-demo input[type=submit]:hover {
  background-color: var(--xpr-blue) !important;
  border-color: var(--xpr-blue) !important;
  color: #FFF !important;
}
@media (max-width: 575.98px) {
  /* line 988, ../sass/xpr-main.scss */
  body.xpr-main #solutions-footer .section-demo {
    background: var(--xpr-deep-space) !important;
  }
}
/* line 997, ../sass/xpr-main.scss */
body.xpr-main #demo-footer-footnote a {
  color: var(--xpr-blue);
}
/* line 1000, ../sass/xpr-main.scss */
body.xpr-main #demo-footer-footnote a:hover {
  color: var(--xpr-blue);
}
/* line 1007, ../sass/xpr-main.scss */
body.xpr-main .nav-carousel .nav-title {
  background-color: var(--xpr-white);
}
/* line 1010, ../sass/xpr-main.scss */
body.xpr-main .nav-carousel .navbar {
  background-color: var(--xpr-white) !important;
}
/* line 1018, ../sass/xpr-main.scss */
body.xpr-main .section-sticky-accordion #integration-list .container .accordion .panel {
  background-color: var(--xpr-white);
}
/* line 1028, ../sass/xpr-main.scss */
body.xpr-main .section-sticky-accordion #category-list.sidebar h3.sidebar-title {
  color: var(--xpr-deep-space);
}
/* line 1036, ../sass/xpr-main.scss */
body.xpr-main .section-sticky-accordion #category-list.sidebar ul li a.link-rect:hover, body.xpr-main .section-sticky-accordion #category-list.sidebar ul li a.link-rect[data-state~=active] {
  color: #fff;
  background-color: var(--xpr-blue);
}
/* line 1048, ../sass/xpr-main.scss */
body.xpr-main .contact-social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
/* line 1054, ../sass/xpr-main.scss */
body.xpr-main .contact-social-media a {
  font-size: 2rem;
  color: var(--xpr-deep-space);
}
/* line 1062, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page.tilicho-landing-page-v14 .hs_cos_wrapper_type_social_sharing {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 1066, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page.tilicho-landing-page-v14 .hs_cos_wrapper_type_social_sharing a {
  width: auto !important;
  padding: 10px;
  background-color: none !important;
  display: flex;
  align-items: center;
}
/* line 1075, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .form-outer-wrap {
  background: #FFF !important;
  border: 1px solid var(--xpr-deep-space);
}
/* line 1080, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .form-outer-wrap .form-header-wrap .hs_cos_wrapper_type_header h3 {
  color: var(--xpr-deep-space);
}
/* line 1087, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .legal-consent-container p {
  color: var(--xpr-deep-space);
}
/* line 1091, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page input, body.xpr-main.tilicho-landing-page #hs_cos_wrapper_module_146355153378931161 input[type="submit"] {
  border: 1px solid var(--xpr-deep-space);
  border-radius: 5px;
}
/* line 1094, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page input.hs-button, body.xpr-main.tilicho-landing-page #hs_cos_wrapper_module_146355153378931161 input[type="submit"].hs-button {
  background-color: var(--xpr-blue) !important;
  color: #FFF !important;
}
/* line 1099, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page label {
  color: var(--xpr-deep-space) !important;
}
/* line 1105, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .content-detail-wrap ul li:before, body.xpr-main.tilicho-landing-page .hero-area-list-wrap ul li:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
}
/* line 1121, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .user-quote-icon:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/icon_xplor_quote.png);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}
/* line 1133, ../sass/xpr-main.scss */
body.xpr-main.tilicho-landing-page .user-quote-icon i {
  display: none;
}
/* line 1138, ../sass/xpr-main.scss */
body.xpr-main .goal_quote, body.xpr-main .goal_quote_2 {
  background-color: #FFF;
}
/* line 1141, ../sass/xpr-main.scss */
body.xpr-main .bq3 {
  letter-spacing: normal;
  line-height: normal;
}
/* line 1145, ../sass/xpr-main.scss */
body.xpr-main .bq3:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/icon_xplor_quote.png);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 15px 0 0;
  float: left;
}
/* line 1159, ../sass/xpr-main.scss */
body.xpr-main .bq3 p {
  letter-spacing: normal;
  line-height: normal;
}
/* line 1165, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg {
  background-color: var(--xpr-deep-space);
}
/* line 1168, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg .section-cta {
  background-color: var(--xpr-deep-space) !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* line 1174, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg .section-cta .pm_container {
  max-width: none;
}
/* line 1179, ../sass/xpr-main.scss */
body.xpr-main .cta-button-bg .section-cta p.cta-p {
  color: #FFF;
}
/* line 1187, ../sass/xpr-main.scss */
body.xpr-main .case_list li {
  list-style: none !important;
  font-family: var(--xpr-font) !important;
}
/* line 1191, ../sass/xpr-main.scss */
body.xpr-main .case_list li span:before {
  content: "";
  background-image: url(https://484017.fs1.hubspotusercontent-na1.net/hubfs/484017/PM2%20Corporate%20Website/template-resources/images/internal/icons/svg/xplor_icon_tick_neptune-blue.svg);
  background-size: cover;
  color: initial;
  font-family: initial;
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: text-bottom;
}
/* line 1208, ../sass/xpr-main.scss */
body.xpr-main .pm_case_container {
  padding-top: 100px;
}
/* line 1213, ../sass/xpr-main.scss */
body.xpr-main .feature-container dl dt {
  color: var(--xpr-deep-space);
}
/* line 1221, ../sass/xpr-main.scss */
body.xpr-main #section-company .contact-social-media a {
  color: var(--xpr-blue);
}
/* line 1232, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset label {
  display: block;
}
/* line 1236, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset input::placeholder, body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset select::placeholder, body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset textarea::placeholder {
  color: var(--xpr-deep-space) !important;
}
/* line 1240, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset select {
  color: var(--xpr-deep-space) !important;
}
/* line 1243, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form fieldset select option:disabled {
  color: var(--xpr-deep-space) !important;
}
/* line 1252, ../sass/xpr-main.scss */
body.xpr-main #section-company section#section-contact-form .form-tab .tab-content .form-container form input[type=submit].hs-button {
  background-color: var(--xpr-blue);
}
/* line 1267, ../sass/xpr-main.scss */
body.xpr-main #section-story.section-hero {
  padding: 150px 0 100px;
}
/* line 1279, ../sass/xpr-main.scss */
body.xpr-blog.hs-blog-post .container-fluid .row-fluid .subscribe-section form input {
  padding-right: initial;
}
/* line 1283, ../sass/xpr-main.scss */
body.xpr-blog.hs-blog-post .container-fluid .row-fluid .subscribe-section form .hs-button.primary {
  background: var(--xpr-pink);
  color: var(--xpr-deep-space);
  position: relative;
  border-radius: 25px;
  width: 100%;
}
/* line 1297, ../sass/xpr-main.scss */
body.xpr-blog.hs-content-id-96858663013 .widget-type-social_sharing {
  display: none;
}
/* line 1301, ../sass/xpr-main.scss */
body.xpr-blog .post-listing {
  margin-top: 50px !important;
}
/* line 1304, ../sass/xpr-main.scss */
body.xpr-blog .post-listing-simple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 1311, ../sass/xpr-main.scss */
body.xpr-blog .container-fluid .row-fluid .post-item {
  display: inline-block;
  margin: 10px;
}
/* line 1318, ../sass/xpr-main.scss */
body.xpr-blog p a {
  color: var(--xpr-blue) !important;
}
/* line 1320, ../sass/xpr-main.scss */
body.xpr-blog p a:hover {
  color: var(--xpr-blue) !important;
}
/* line 1326, ../sass/xpr-main.scss */
body.xpr-blog a.cta_button, body.xpr-blog a#cta_button_484017_02e2b894-4199-4ca3-9e65-9d7649547052 {
  border-radius: 5px !important;
  background-color: var(--xpr-pink) !important;
  color: var(--xpr-deep-space) !important;
}
/* line 1330, ../sass/xpr-main.scss */
body.xpr-blog a.cta_button:hover, body.xpr-blog a#cta_button_484017_02e2b894-4199-4ca3-9e65-9d7649547052:hover {
  background-color: var(--xpr-pink) !important;
  color: var(--xpr-deep-space) !important;
}
/* line 1337, ../sass/xpr-main.scss */
body.xpr-blog .ias-trigger a {
  border-radius: 5px;
  border: 1px solid var(--xpr-blue);
  color: var(--xpr-blue);
}
/* line 1342, ../sass/xpr-main.scss */
body.xpr-blog .ias-trigger a:hover {
  background-color: var(--xpr-blue);
  color: #FFF !important;
}
/* line 1349, ../sass/xpr-main.scss */
body.xpr-blog .post-item h2, body.xpr-blog .post-item a {
  color: var(--xpr-deep-space);
}
/* line 1355, ../sass/xpr-main.scss */
body.xpr-blog .topic-list li a {
  background-color: var(--xpr-green);
  color: var(--xpr-deep-space);
}
/* line 1366, ../sass/xpr-main.scss */
body.xpr-blog.hs-blog-listing .container-fluid .row-fluid .subscribe-section .hs-button.primary {
  background-color: var(--xpr-pink);
  color: var(--xpr-deep-space);
}
/* line 1377, ../sass/xpr-main.scss */
body.xpr-blog .container-fluid .row-fluid .subscribe-section {
  background: var(--xpr-deep-space);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--xpr-deep-space),endColorstr=var(--xpr-deep-space),GradientType=1);
  padding-top: 50px;
}
/* line 1385, ../sass/xpr-main.scss */
body.xpr-blog .body-container-wrapper {
  background-color: var(--xpr-white);
}
/* line 1391, ../sass/xpr-main.scss */
body.xpr-blog .blog-listing-hero-section ul.topic-list a {
  color: var(--xpr-deep-space);
  background-color: var(--xpr-green);
  border-radius: 5px;
  padding: 10px;
}
/* line 1403, ../sass/xpr-main.scss */
body.xpr-blog .blog-listing-hero-section span.blog-listing-item-container h1.blog-post-title a {
  color: #FFF !important;
}
/* line 1411, ../sass/xpr-main.scss */
body.xpr-blog .blog-listing-hero-section span.blog-listing-item-container h4 a {
  background-color: var(--xpr-pink);
  color: var(--xpr-deep-space);
}
/* line 1421, ../sass/xpr-main.scss */
body.xpr-blog .topic-section .widget-module ul {
  margin: 10px auto 0;
  position: absolute;
  left: 50%;
  top: 150px;
  width: 300px;
  transform: translate(-50%, -50%);
  right: auto;
  text-align: center;
}
/* line 1432, ../sass/xpr-main.scss */
body.xpr-blog .topic-section .widget-module ul li a {
  font-size: 24px;
}
/* line 1439, ../sass/xpr-main.scss */
body.xpr-blog .footer-container-wrapper {
  background-color: #FFF;
}
/* line 1443, ../sass/xpr-main.scss */
body.xpr-blog .cta-trigger h3 {
  font-size: 24px;
  font-weight: 100;
  color: var(--xpr-deep-space);
  margin: 0;
  cursor: pointer;
  display: inline-block;
  padding: 20px 25px 30px;
  max-width: 300px;
  border-radius: 0px;
  width: 100%;
  position: relative;
  background: var(--xpr-white);
  text-align: center;
  margin: 0 auto;
  display: flex;
  border: 0;
}
/* line 1461, ../sass/xpr-main.scss */
body.xpr-blog .cta-trigger h3:before {
  content: "";
  border: 1px solid var(--xpr-deep-space);
  width: 260px;
  position: absolute;
  bottom: 20px;
}
/* line 1469, ../sass/xpr-main.scss */
body.xpr-blog .cta-trigger h3:after {
  font-size: 18px;
}
